body {
    font-family: 'Noto Sans TC', sans-serif;
}

p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1rem;
    color: #8B8B8B;
}

h4 {
    color: #773E19;
}

h5 {
    font-size: 20px;
    color: #464646;
}

h6 {
    color: #B2D7C1;
}

h7 {
    color: #E7A45D;
}




.navbar {
    margin-bottom: 7.5rem;

}

@media only screen and (max-width: 320px) {
    .navbar {
        margin-bottom: 5rem;
    }
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* info */
.banner {
    margin-top: -7.5rem;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 320px) {
    .banner {
        margin-top: -5rem;
    }
}

.banner1 {
    display: none;
}

.banner2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    .banner3 {
        display: none;
    }

    .banner2 {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    .banner3 {
        display: none;
    }

    .banner2 {
        display: none;
    }

    .banner1 {
        display: block;
    }
}

.rounded {
    border-radius: 100%;
    margin-right: 2rem;

}

.info {
    margin-bottom: 8rem;

}

.card-all {
    padding: 20;
}

.card-body-div {

    display: flex;
    align-items: center;
    justify-content: center;

}


.card-link {
    color: #B2D7C1;
}



/* features card */

.features_img {
    position: absolute;
    z-index: -1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.title_div {
    text-align: center;
    margin-top: 5%;
}


.features_all {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.card h-100 {
    height: 100% !important;
}

.card-dis {
    margin-bottom: 2rem;
}

.card_icon {
    margin-top: -2.8rem;
    margin-bottom: 0.3rem;
}



/* timeline */

.timeline_img {
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
}


.timeline {
    list-style: none;
    padding: 0 0 20px;
    position: relative;
    margin-top: -15px
}

.timeline:before {
    top: 30px;
    bottom: 25px;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #ccc;
    left: 35px;
    margin-right: -1.5px
}

.end:before {
    width: 0px;
}




.timeline>li,
.timeline>li>.timeline-panel {
    margin-bottom: 24px;
    position: relative
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li>.timeline-panel {
    margin-left: 70px;
    float: left;
    top: 19px;
    padding: 12px 0px 8px 15px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* width: 93% */
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 36px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 9px;
    margin-right: -25px;
    background-color: #fff;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #B2D7C1
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: left
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-right-width: 0;
    border-left-width: 15px;
    right: -15px;
    left: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-right-width: 0;
    border-left-width: 14px;
    right: -14px;
    left: auto
}


.timeline-title {
    margin-top: 0;
    color: inherit
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
    margin-top: 0
}

.timeline-body>p+p {
    margin-top: 5px
}

.timeline-badge>.glyphicon {
    margin-right: 0px;
    color: #fff
}

.timeline-body>h4 {
    margin-bottom: 0 !important
}

.timeline {
    margin-bottom: 10%;
}


/* projects */

.projects {
    margin-bottom: 8%;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5%;
    margin-bottom: 2rem;
}

.projects_img {
    margin-bottom: 6%;
}


/* footer */

.footer {
    width: 100%;
    height: 1px;
    border-top: solid #E7A45D 1px;
    background-color: #fff
}

.footer_dis {
    margin-right: 14px;
}

.footer_word {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 320px) {

    .footer_word {
        justify-content: center;

    }

}

.info_word {
    margin-top: auto;
    margin-bottom: auto;
}